* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button,
h1,
h2 {
    display: block;
    justify-content: space-between;
    margin-top: 6px;
    margin-left: 16px;
    height: 32px;
    width: 370px;
}

h1 {
    margin-top: 24px;
}

button {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(84, 163, 84);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

form textarea {
    resize: none;
    height: 60px;
}

button:hover {
    background-color: rgb(62, 138, 62);
}

.sucess-mensage {
    background-color: rgb(62, 138, 62);
    padding: 16px;
    color: #fff;
    width: 370px;
    margin-left: 16px;
    margin-top: 6px;
    border-radius: 5px;
    display: none;
}

.error-mensage{
    margin-left: 16px;
    font-size: 12px;
    padding: 5px;
    background-color: red;
    width: 370px;
    margin-top: 4px;
    color: #fff;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    border: solid 1px;
    outline-color: red;
}